/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  /* color palette: https://coolors.co/palette/463f3a-8a817c-bcb8b1-f4f3ee-e0afa0 */
  --primary-dark: #463f3a;
  --secondary-dark: #8A817C;
  --tertiary-dark: #BCB8B1;
  --light-bg: #f4f3ee;
  --bright: #E0AFA0;
  --error: #e7195a;
}

body {
  background: var(--secondary-dark);
  margin: 0;
  font-family: "Poppins";
  text-transform: uppercase;
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
/* .home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
} */

.entry-details {
  background: var(--light-bg);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.entry-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary-dark);
}

.entry-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.entry-details span.delete {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.entry-details span.edit {
  position: absolute;
  top: 20px;
  right: 70px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* entry form */

/* NEW GRID LAYOUT FOR ENTRY FORM */

.create {
  padding: 4rem;
  background-color: var(--light-bg);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.create .entry-grid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.create .grid-col-span-2 {
  grid-column: span 2;
}

.create .grid-col-span-4 {
  grid-column: span 4;
}

.form-group-flex {
  display: flex;
  align-items: center;
}

.form-group-block {
  display: block;
  text-align: center;
}

.braindump {
  grid-column-start: 1;
  grid-row-start: 7;
  grid-row-end: span 4;
}

.braindump textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 90%;
  width: 100%; 
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* NEW GRID LAYOUT FOR ENTRY FORM */

label,
input {
  display: block;
}

label {
  margin-right: 10px;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; 
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary-dark);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* other buttons */
.home-button {
  background: var(--primary-dark);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

/* bar meter */
.bar-meter-container {
  background-color: var(--light-bg);
  padding: 2.5%;
}

.bar-meter {
  position: relative;
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, red, green);
}

.bar-meter .bar-indicator {
  position: absolute;
  top: -5px;
  /* left: 25%; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
}